body{
background:#0b1d3a;
color:#ffd700;
font-family:Segoe UI;
text-align:center;
}

#messages{
background:#08142b;
border:1px solid #ffd700;
height:320px;
overflow:auto;
margin:20px;
padding:10px;
}

button{
background:#122b55;
color:#ffd700;
border:1px solid #ffd700;
padding:12px;
}
